.portfolio-images{ 
  height:400px;
  display: flex;
  justify-content: center;
}

.porfolio-figure, .porfolio-figure-alone{
  width:100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  .portfolio-figure-caption {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

.slick-list {
  height: 40vh;
}

.slick-slide img, .porfolio-figure-alone img {
  height: 33vh;
  object-fit: contain;
  object-position: center;
  width: 90%;
}

.slick-slide figcaption, .porfolio-figure-alone figcaption {
  color: white
}


.slider {
  // background: white;
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, #351a7c 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(250px * 1);

}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  height: 250px;
  width: 250px;
}