.portfolio-images{ 
  height:400px;
  display: flex;
  justify-content: center;
}

.porfolio-figure, .porfolio-figure-alone{
  width:100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  .portfolio-figure-caption {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

.slick-list {
  height: 40vh;
}

.slick-slide img, .porfolio-figure-alone img {
  height: 33vh;
  object-fit: contain;
  object-position: center;
  width: 90%;
}

.slick-slide figcaption, .porfolio-figure-alone figcaption {
  color: white
}

