.contact-form {
  width: 100%;
  margin-top: 20px;

  .form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    .first-row {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      .name {
        padding-right: 5px;
      }
    }
    .button-row {
      display: flex;
      justify-content: flex-end;
      .flat-button {
        margin: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #ffd70036;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #ffd70036;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
  }
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  background: #14012e;
  top: 50px;
  right: 30%;
  z-index: 999999;
  width: 267px;
  padding: 10px 10px 20px 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  .info-map {
    display: flex;
    flex-direction: column;
    z-index: 999999;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    margin-top: 3rem;
  
    span, a {
      font-size: 16px;
      color: #ffd700;
    }
  }

  .modal-close {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    border: solid .15rem #351a7c;
    background-color: #351a7c;
    color: #ffd700;
    border-radius: 50%;
    padding: 1rem;
    z-index: 500;
  }
}




@media (max-width:961px) {
  .first-row {
    flex-direction: column;
  }
  .info-card {
    display: none;
  }
  .contact-me-icon {
    display: block;
    position: absolute;
    bottom: 7rem;
    right: 4rem;
    border: solid .15rem #ffd700;
    background: radial-gradient(rgba(255, 217, 0, 0.2) 30%, rgba(255, 217, 0, 0.4) 60%, #ffd700 75%);
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    svg {
      color: #ffd700;
      animation-name: wave-hand;
      animation-duration: 2.5s; 
      animation-iteration-count: infinite;  
      transform-origin: 50% 70%; 
      display: inline-block;
    }
  }

  .hi-hand {
    width: 5rem;
    color: #ffd700;
    animation-name: wave-hand;
    animation-duration: 2.5s; 
    animation-iteration-count: infinite;  
    transform-origin: 50% 70%; 
    display: inline-block;
  }

  .more-btn {
    color: #fdb28f;
    
  }

  .modal {
    width: 100vw;
    height: 100vh;
    background-color: #14110286;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .info-card {
      display: flex;
      position: relative;
      right: auto;
      z-index: 300;
      top: auto;

      .modal-close {
        display: block;
        position: relative;
        border: solid .15rem #351a7c;
        background-color: #351a7c;
        color: #ffd700;
        border-radius: 50%;
        padding: 1rem;
        z-index: 500;
      }
    }

  }
  @keyframes wave-hand {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(16.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(20.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
}
